.fullwidth{
    width: 100%;
    h1{
        font-family: sans-serif;
        text-align: center;
    }
}

.fullwidth1{
    width: 100%;
    div{
        margin-bottom: 3px;
    }
}

.nameField{
    width: 49%;
}

.paraContainer{
    margin-top: 28px;
}