.innerContainer{
    width: 100%;
}

.alignRight{
    text-align: center;
}

.outercontainer{
    margin-top: 34px;
}


.innerContainer{
    width: 100%;
}

.input{
    width: 100%;
    display: flex;
    justify-content: space-between;
    .mat-form-field{
        width: 100%;
    }
}
.alignRight{
    text-align: center;
}

.outercontainer{
    margin-top: 34px;
}

table {
    width: 100%;
  }
  
.header{
    text-align: center;
}