.example-radio-group {
    display: flex;
    flex-direction: column;
    margin: 15px 0;
  }
  
  .example-radio-button {
    margin-bottom: 10px;
  }
  .card{
    width: 400px;
    height: 400px;
}
label{
    font-size: 20px;
    font-weight: 3000px;
    padding: 5px;
    margin-bottom: 5px;
    position: relative;
    left: 108px;
}
// .mat-radio-group{
//     padding: 10px;
//     margin-bottom: 24px;
// }