.mainContainer{
    width: 100%;
}

.loginClass{
    h1{
        font-weight: bolder;
        font-family: sans-serif; 
        margin-top: 24px;   
    }
}

.button{
    margin-bottom: 50px;
}

.margin-top{
    margin-top: 30px;
}

.textCenter{
    text-align: start;
}

.buttonColor{
    background-color: purple;
    color: white;
    height: 60px;
    width: 100%;
}

.buttonColor1{
    background-color: black;
    color: white;
    height: 60px;
    width: 100%;
}

.width{
    height: 350px;
    width: 350px;
  }