.fullwidth{
    width: 100%;
    h1{
        font-family: sans-serif;
        text-align: center;
    }
}

.fullwidth1{
    width: 100%;
    div{
        margin-top: 12px;
        margin-bottom: 3px;
    }
}

.nameField{
    width: 49%;
}

.mainContainer{
    margin-top: 28px;
}

.nameInput{
    width: 49%;
}
.inputContainer{
    width: 100%;
}