<div fxLayout="row" fxLayoutAlign="center center" fxFill>

    <div fxLayout="column" fxLayoutAlign="start stretch" fxFlex="15" class="width">
        <!-- <div fxLayout="row" fxLayoutAlign="center center" class="loginClass">
            <h1>Login</h1>
        </div> -->
        <div fxLayout="row" fxLayoutAlign="center center">
            <span class="material-icons">
                task
            </span>
        </div>
        <br>
        <div fxLayout="column" fxLayoutAlign="start stretch" class="buttonChange">
                <div fxLayout="column" fxLayoutAlign="start stretch">
                    <button mat-button mat-raised-button color="primary" class="buttonColor" routerLink="/login">Login</button>
                </div>
        </div>
        <div fxLayout="column" fxLayoutAlign="start stretch" class="buttonChange">
                <div fxLayout="column" fxLayoutAlign="start stretch">
                    <button mat-button mat-raised-button color="primary" class="buttonColor1" routerLink="/registration">Register</button>
                </div>
        </div>
    </div>

</div>