.innerContainer{
    width: 100%;
}
.outercontainer{
    margin-top: 34px;
}

.input{
    width: 100%;
}

table {
    width: 100%;
  }
  
  .mat-form-field {
    font-size: 14px;
    width: 100%;
  }
  
.header{
    text-align: center;
}
.dash1 h3 {
    background: #ccc;
    padding: 2px;
    font-family: system-ui;
    font-size: 21px;
    margin: 0;
    text-align: start;
}