<div fxLayout="column" fxLayoutAlign="center center" fxFill>
    <mat-card>
        <mat-card-content>
            <div fxLayout="column" fxLayoutGap="80px" fxFlex="30" fxLayoutAlign="center center">
                <div fxLayout="column" fxLayoutAlign="center center">
                    <mat-icon class="cancelIcon">
                        cancel
                    </mat-icon>
                </div>
                <div fxLayout="row" fxLayoutAlign="center center">
                    <button mat-raised-button mat-dialog-close = "cancel" color="warn">Cancel</button>
                    <button mat-raised-button mat-dialog-close = "confirm" color="primary">Confirn</button>
                </div>
            </div>
        </mat-card-content>
    </mat-card>

</div>